
@{
    ViewData["Title"] = "Index";
}
@model CustomerVM
@section style{
    <link href="./assets/css/StyleSheet.css" rel="stylesheet" />
    <link href="./assets/css/Customer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/Customer.css" />
  <link rel="stylesheet" href="~/assets/css/branch.css" />
}
<center>
    <h1 style="margin-top:130px;">Customer Phone</h1>
</center>

<form asp-controller="MakingOrder" asp-action="direct" method="post" >
    <div class="form-group">
        <label class="lb" asp-for="phone">Phone:</label>
            <input type="text"  class="form-control" asp-for="phone"/>
            <span asp-validation-for="phone" class="font-weight-bold text-danger" style="margin-right:10px"></span>
     <span  class="font-weight-bold text-danger" style="margin-right:10px">@ViewBag.warn</span>
            
    </div>
    
    <center>
        <button type="submit" class="btn btn-pill btn-primary" style="width:120px;margin-bottom:5px;margin-top:-13px">GO</button>
    </center>
</form>
@section scripts{
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


