
@{
    ViewData["Title"] = "Details";
}
@model CustomerVM
@section style{
    <link href="~//assets/css/StyleSheet.css" rel="stylesheet" />
    <link href="../assets/css/Customer.css" rel="stylesheet" />
       <link rel="stylesheet" href="~/assets/css/Customer.css" />
 <link rel="stylesheet" href="~/assets/css/branch.css" />
    </style>
}
<center>
    <h1 style="margin-top:100px;"> Customer Details</h1>
</center>
<form  asp-controller="Customer" asp-action="Delete" method="post">
     <div class="form-group">
        <label class="lb" asp-for="id">ID</label>
        <input type="Text" class="form-control"  placeholder="Enter Name" asp-for="id" readonly>
        
    </div>
    <div class="form-group">
        <label class="lb" asp-for="Name">Name</label>
        <input type="Text" class="form-control" id="name" placeholder="Enter Name" asp-for="Name" disabled>
        <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
    </div>
    <div class="form-group">
        <label  class="lb" asp-for="address">Address</label>
        <input type="Text" class="form-control" id="address" placeholder="Enter Address" asp-for="address" disabled>
        <span asp-validation-for="address" class="text-danger font-weight-bold"></span>
    </div>
        <div class="form-group">
        <label  class="lb" asp-for="phone">Phone Number</label>
        <input type="tel" class="form-control" id="phone" placeholder="Phone Number" asp-for="phone" disabled>
        <span asp-validation-for="phone" class="text-danger font-weight-bold"></span>
    </div>
    <div class="form-group">
        <label  class="lb" asp-for="mail"> E-mail</label>
        <input type="email"  class="form-control" id="mail" placeholder="Enter mail"  asp-for="mail" disabled>
        <span asp-validation-for="mail" class="text-danger font-weight-bold"></span>
    </div>
   

    <center>
    
        <a class="btn btn-pill btn-success" asp-controller="Customer" asp-action="Index">Back To Data</a>
       

    </center>
</form>
@section scripts{
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}





