

	<div class="app-content">
					<div class="side-app leftmenu-icon">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								@*<h4 class="page-title">Dashboard</h4>
								<ol class="breadcrumb pl-0">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard 04</li>
								</ol>*@
								<h2 style="color:red;margin-top:5px">Mohamadia For Sales</h2>
							</div>
							<div class="page-rightheader">
								<div class="ml-3 ml-auto d-flex">
									<div class="border-right pr-4 mt-2 d-xl-block">
										<p class="text-muted mb-1">Category</p>
										<h6 class="font-weight-semibold mb-0">All Categories</h6>
									</div>
									<span class="">
										<div class="border-right pl-4 pr-4 mt-2 d-xl-block">
											<p class="text-muted mb-0">Customer Rating</p>
											<div class="wideget-user-rating">
												<a href="#">
													<i class="fa fa-star text-warning"></i>
												</a>
												<a href="#">
													<i class="fa fa-star text-warning"></i>
												</a>
												<a href="#">
													<i class="fa fa-star text-warning"></i>
												</a>
												<a href="#">
													<i class="fa fa-star text-warning"></i>
												</a>
												<a href="#">
													<i class="fa fa-star-o text-warning mr-1"></i>
												</a>
												<span class="">(4.5/5)</span>
											</div>
										</div>
									</span>
									<span class="pg-header">
										<a href="#" class="btn btn-primary-gradient ml-4 mt-2 "><i class="typcn typcn-shopping-cart mr-1"></i>Buy Now</a>
									</span>
								</div>
							</div>
						</div>
						<!--End Page header-->

						<!--Row-->
						<div class="row">
							<div class="col-md-12">
								<div class="card ">
									<div class="row">
										<div class=" col-xl-3 col-sm-6 d-flex border-right">
											<div class="card-body text-center">
											    <div class="d-flex justify-content-center">
												    <div class="mt-3">
														<i class="fe fe-pie-chart fs-30 text-primary mr-5"></i>
													</div>
													<div class=" text-center text-left">
														<p class="mb-1 text-left">Sales Revenue</p>
														<h3 class="mb-0 text-left font-weight-semibold">$502.45M</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0 border-right">
											<div class="card-body text-center">
											    <div class="d-flex justify-content-center">
												    <div class="mt-3">
														<i class="fe fe-users fs-30 text-danger mr-5 "></i>
													</div>
													<div class=" text-center text-left">
														<p class="mb-1 text-left">Customers</p>
														<h3 class="mb-0 text-left font-weight-semibold">5,643M</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0 border-right">
											<div class="card-body text-center">
											    <div class="d-flex justify-content-center">
												    <div class="mt-3">
														<i class="fe fe-bar-chart-2 fs-30 text-secondary mr-5 "></i>
													</div>
													<div class=" text-center text-left">
														<p class="mb-1 text-left">Avg Transcations</p>
														<h3 class="mb-0 text-left font-weight-semibold">$45.32</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0 ">
											<div class="card-body text-center">
											    <div class="d-flex justify-content-center">
												    <div class="mt-3">
														<i class="fe fe-layers fs-30 text-success mr-5 "></i>
													</div>
													<div class=" text-center text-left">
														<p class="mb-1 text-left">Avg Unit Per customer</p>
														<h3 class="mb-0 text-left font-weight-semibold">3.05</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End row -->

						<!-- Row-->
						<div class="row">
							<div class="col-xl-6 col-lg-12 col-md-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Product Rating</h3>
										<div class="card-options ">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<div class="mb-4 mt-0">
												    <p class="mb-0">Rating and Reviews</p>
													<p class="mb-0">
													    <span class=" fs-40 font-weight-semibold">5.0</span>
													    <span class="wideget-user-rating">
															<a href="#">
																<i class="fa fa-star text-warning"></i>
															</a>
															<a href="#">
																<i class="fa fa-star text-warning"></i>
															</a>
															<a href="#">
																<i class="fa fa-star text-warning"></i>
															</a>
															<a href="#">
																<i class="fa fa-star text-warning"></i>
															</a>
															<a href="#">
																<i class="fa fa-star-half-o text-warning mr-1"></i>
															</a>
														</span>
													</p>
												</div>
												<div class="chart-wrapper">
													<canvas id="purchase" class="h-206 chartjs-render-monitor chart-dropshadow2 overflow-hidden"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-12 col-lg-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Sales By city</h3>
										<div class="card-options ">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
									   <div class="row">
										   <div class="col-xl-6 col-lg-4 col-md-4">
												<div class="overflow-hidden  justify-content-center mx-auto text-center align-items-center">
													<div id="chart"></div>
												</div>
											</div>
											<div class="col-xl-6 col-lg-8 col-md-8">
											    <table class="table table-hover mb-0">
													<tbody>
														<tr class="border-bottom">
															<td class="p-2"><div class="w-3 h-3 bg-primary mr-2 mt-1 brround"></div></td>
															<td class="p-2">Chicago</td>
															<td class="p-2">4,678</td>
															<td class="p-2">68%</td>
														</tr>
														<tr class="border-bottom">
															<td class="p-2"><div class="w-3 h-3 bg-orange mr-2 mt-1 brround"></div></td>
															<td class="p-2">New York</td>
															<td class="p-2">3,789</td>
															<td class="p-2">55%</td>
														</tr>
														<tr class="border-bottom">
															<td class="p-2"><div class="w-3 h-3 bg-warning mr-2 mt-1 brround"></div></td>
															<td class="p-2">Los Angeles</td>
															<td class="p-2">2,137</td>
															<td class="p-2">45%</td>
														</tr>
														<tr class="border-bottom">
															<td class="p-2"><div class="w-3 h-3 bg-teal mr-2 mt-1 brround"></div></td>
															<td class="p-2"> Austria</td>
															<td class="p-2">1,786</td>
															<td class="p-2">34%</td>
														</tr>
														<tr class="border-bottom">
															<td class="p-2"><div class="w-3 h-3 bg-danger mr-2 mt-1 brround"></div></td>
															<td class="p-2">France</td>
															<td class="p-2">897</td>
															<td class="p-2">27%</td>
														</tr>
														<tr>
															<td class="p-2"><div class="w-3 h-3 bg-info mr-2 mt-1 brround"></div></td>
															<td class="p-2"> Ireland</td>
															<td class="p-2">568</td>
															<td class="p-2">15%</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="mt-4 mt-md-0">
											<h6 class=" mb-0 ">Online Sales</h6>
											<h2 class="mb-0"><span class="font-weight-semibold ">70</span>%<span class="fs-12 text-muted"><span class="text-success mr-1"><i class="fe fe-arrow-up ml-1"></i>0.9%</span>last month</span></h2>
										   <p class="mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row -->

						<!-- row -->
						<div class="row">
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class=" ">
											<p class="mb-1">Total Sale Per Hour</p>
										</div>
										<h2 class="mb-2 font-weight-semibold">$372.45<span class="sparkline_bar1 float-right"></span></h2>
										<div class="text-muted"><i class="fa fa-arrow-circle-o-up mr-1 text-success"></i> Labour Hour</div>
									</div>
								</div>
							</div><!-- End col -->
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="">
											<h5>Total Sales</h5>
										</div>
										<h2 class="mb-2 font-weight-semibold">$1.52M<span class="sparkline_bar2 float-right"></span></h2>
										<div><i class="fa fa-arrow-circle-o-up mr-1 text-success"></i> All Deparatments</div>
									</div>
								</div>
							</div><!-- End col -->
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="">
											<h5>Average Sales</h5>
										</div>
										<h2 class="mb-2 font-weight-semibold">$7.63<span class="sparkline_bar3 float-right"></span></h2>
										<div><i class="fa fa-arrow-circle-o-down mr-1 text-danger"></i>Per Unit Area</div>
									</div>
								</div>
							</div><!-- End col -->
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="">
											<h5>Average Sales Revenue</h5>
										</div>
										<h2 class="mb-2 font-weight-semibold">$142.54<span class="sparkline_bar4 float-right"></span></h2>
										<div><i class="fa fa-arrow-circle-o-up mr-1 text-success"></i> Per Hour</div>
									</div>
								</div>
							</div><!-- End col -->
						</div>
						<!-- End row -->

						<!--Row-->
						<div class="row">
							<div class="col-xl-8 col-md-12 col-lg-7">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Revenue</h3>
										<div class="card-options ">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body overflow-hidden">
										<div id="flotContainer2" class="chart-style"></div>
									</div>
									<div class="card-footer p-5">
										<div class="row ">
											<div class="col-xl-4 col-lg-4 col-md-12">
												<h6 class=" mb-0 ">Online Revenue</h6>
												<h2 class="mb-0"><span class="font-weight-semibold ">70</span>%<span class="fs-12 text-muted"><span class="text-success mr-1"><i class="fe fe-arrow-up ml-1"></i>0.9%</span>last month</span></h2>
											    <div class="progress progress-xs mt-3 h-1">
													<div class="progress-bar bg-primary w-80 " role="progressbar"></div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-12  mt-5 mt-xl-0 mt-lg-0">
												<h6 class=" mb-0 ">Offline Revenue</h6>
												<h2 class="mb-0"><span class="font-weight-semibold ">30</span>%<span class="fs-12 text-muted"><span class="text-danger mr-1"><i class="fe fe-arrow-down ml-1"></i>0.15%</span>last month</span></h2>
											    <div class="progress progress-xs mt-3 h-1">
													<div class="progress-bar bg-danger w-30 " role="progressbar"></div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-12  mt-5 mt-xl-0 mt-lg-0">
												<h6 class=" mb-0 ">OverAll Revenue</h6>
												<h2 class="mb-0"><span class="font-weight-semibold">725</span><span class="fs-12 text-muted"><span class="text-success mr-1"><i class="fe fe-arrow-up ml-1"></i>1.04%</span>last month</span></h2>
											    <div class="progress progress-xs mt-3 h-1">
													<div class="progress-bar bg-success w-75 " role="progressbar"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-md-12 col-lg-5">
							    <div class="card overflow-hidden">
									<div class="card-body  pb-0">
									    <h3 class="card-title mb-2">Customers</h3>
										<div class="">
										    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
											<h2 class="font-weight-semibold">7,500<span class="ml-3 mr-3 fs-1 text-success"><i class="fe fe-trending-up"></i></span><span class="fs-12 text-muted">12.53% increased</span></h2>
										</div>
									</div>
									<canvas id="customer" class="customer"></canvas>
								</div>
								<div class="card">
									<div class="card-body">
									    <div class="row">
											<div class="col-6 text-center">
												<h3 class="card-title mb-4">Total Sales</h3>
												<div class="chart-circle chart-circle-sm  overflow-hiddene  mt-sm-0 mb-0 text-left" data-value="0.78" data-thickness="8" data-color="#3abc1d ">
													<div class="chart-circle-value text-center">
														<h5 class="mb-0 text-muted">65%</h5>
													</div>
												</div>
												<p class="text-muted mb-0 mt-4">Activce Users</p>
												<h4 class="mb-0 font-weight-semibold">15 min</h4>
											</div>
											<div class="col-6 text-center">
												<h3 class="card-title mb-4">Total Revenue</h3>
												<div class="chart-circle chart-circle-sm  overflow-hiddene  mt-sm-0 mb-0 text-left" data-value="0.64" data-thickness="8" data-color="#fb1c52">
													<div class="chart-circle-value text-center">
														<h5 class="mb-0">65%</h5>
													</div>
												</div>
												<p class="text-muted mb-0 mt-4">Activce Users</p>
												<h4 class="mb-0 font-weight-semibold">15 min</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End Row-->

						<!-- Row-->
						<div class="row">
							<div class="col-xl-12 col-md-12 col-lg-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Country By Sales</h3>
										<div class="card-options ">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table border table-bordered text-nowrap mb-0">
												<thead>
													<tr>
														<th>Country</th>
														<th>2019</th>
														<th>2018</th>
														<th>2017</th>
														<th>2016</th>
														<th>2015</th>
														<th>2014</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><img src="../assets/images/flags/us.svg" class="w-5 h-5 mr-2" alt="">United State</td>
														<td>44K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>55K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>41K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>37K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>22K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>43K <i class="fe fe-arrow-up text-success"></i>
														</td>
													</tr>
													<tr>
														<td><img src="../assets/images/flags/in.svg" class="w-5 h-5 mr-2" alt="">India</td>
														<td>53K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>32K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>33K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>52K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>13K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>43K <i class="fe fe-arrow-up text-success"></i>
														</td>
													</tr>
													<tr>
														<td><img src="../assets/images/flags/ru.svg" class="w-5 h-5 mr-2" alt="">Russia</td>
														<td>12K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>17K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>11K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>9K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>15K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>11K <i class="fe fe-arrow-down text-danger"></i>
														</td>
													</tr>
													<tr>
													    <td><img src="../assets/images/flags/ca.svg" class="w-5 h-5 mr-2" alt="">Canada</td>
														<td>9K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>7K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>5K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>8K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>6K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>9K <i class="fe fe-arrow-down text-danger"></i>
														</td>
													</tr>
													<tr>
														<td><img src="../assets/images/flags/ge.svg" class="w-5 h-5 mr-2" alt="">Germany</td>
														<td>25K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>12K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>19K <i class="fe fe-arrow-down text-danger"></i>
														</td>
														<td>32K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>25K <i class="fe fe-arrow-up text-success"></i>
														</td>
														<td>24K <i class="fe fe-arrow-up text-success"></i>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row -->
						
					</div>
				</div><!-- end app-content-->
			</div>

			<!--Footer-->
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
							Copyright © 2019 <a href="#">Aronox</a>. Designed by <a href="#">Spruko Technologies Pvt.Ltd</a> All rights reserved.
						</div>
						
					</div>
				</div>
			</footer>
			<!-- End Footer-->

		</div>

		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>