h1 {
    text-align: center;
    margin-top: 30px;
    color: red;
}

form {
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0)
}

.y {
    position: relative;
    margin-left: 10px;
    width: 310px
}
