h1 {
    text-align: center;
    margin-top: 30px;
    color: red;
    text-align: center;
}

.x {
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0)
}

.y {
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 150px;
    margin-left: 10px
}
